.StoreResultsContainer{
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex: 1 0 31%; */
}

.StoreInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 80px;
}

.StoreDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.StoreInformation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.StoreProducts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
}

#store_name{
    padding: 10px;
    font-size: 28px;
    font-weight: 500;
}

#store_distance{
    font-size: 16px;
}

#store_address{
    padding:10px
}

#contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#phone_icon{
    padding-right: 5px;
}

.productBanner{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productBannerText{
    background-color: #E9E9E9;
    padding: 0 18px;
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#product_frame{
    position: absolute;
}

#product{
    position: relative;
    height: 110px;
}

.purchase-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#add_frame{
    position: absolute;
}

#add_button{
    position: relative;
}

.add_to_cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#product-header{
    font-weight: 600;
    font-size: 16px;
}

#product-weight{
    font-size: 12px;
}

#product-price{
    font-size: 12px;
}

@media screen and (max-width: 768px){

}