.StoreItemsSearchContainer{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px;
}

#StoreItemsSearch{
    padding: 10px 300px 10px 50px;
    background: url("./search.png") no-repeat left ;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 12px;
}

@media screen and (max-width: 768px){
    #StoreItemsSearch{
        padding: 10px 150px 10px 25px;
    }
}

@media screen and (max-width: 350px){
    #StoreItemsSearch{
        padding: 10px 80px 10px 10px;
    }
}