.storiesContainer{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 100px;
    padding: 30px 0px;
}

.stories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.storiesContainer img{
    border-radius: 50%;
}

#moreStories{
    display: none;
}

#storiesHeading{
    font-size: 24px;
    font-weight: 600;
}

@media screen and (max-width: 768px){
    #story{
        width:15%;
        padding: 0 10px;
    }
    .storiesContainer{
        margin: 0 40px;
    }
    #moreStories{
        padding: 0 15px;
        display: block;
    }
}