.headerMenuContainer{
    font-family: 'Montserrat', sans-serif;
    margin: 0 100px;
    z-index: 10;
}

.headerMenuButtons{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
}

.categoryDropdown{
    position: relative;
    display: inline-block;
}

.categoriesMenuContainer{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.categoryMenu{
    display: none;
    padding: 0px 25px;
}

.categorySubMenu{
    display: none;
    padding: 0px 25px;
    background-color: white;
    border:1px solid rgba(0, 0, 0,0.2);
}

#categoryName:hover, #groupByName:hover{
    color: #4B8D5E;
}

#categoryName, #groupByName{
    padding: 12px 30px;
    white-space: nowrap;
}

.categoryDropdown:hover .categoryMenu   {display: block;}
.categoryDropdown:hover .categorySubMenu  {display: block;}

/* #categoryName{
    border: 1px solid rgba(0,0,0,0.2);
} */

.groupByDropdown{
    position: relative;
    display: inline-block;
}

.groupByMenuContainer{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    display: none;
    background-color: #f1f1f1;
}

.groupByMenuContainer p:hover {background-color: #ddd;}

.groupByDropdown:hover .groupByMenuContainer     {display: block;}

#burgerMenu{
    display: none;
}

#burgerMenu, #Categories , #Offers, #Group_By, #Wishlist{
    margin: 0px 10px;
    padding: 10px;
    border-radius: 10px;
}

#burgerMenu:hover, #Categories:hover , #Offers:hover, #Group_By:hover, #Wishlist:hover{
    background-color: #F7F6F2;
}

button, input[type="submit"], input[type="reset"] {
    font-family: 'Montserrat', sans-serif;
    color: black;
	background: none;
    font-size: larger;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media screen and (max-width: 768px){
    .headerMenuContainer{
        margin: 0 40px;
    }
    .headerMenuButton{
        display: none;
    }
    #burgerMenu{
        display: block;
    }
}