.background{
    text-align:center;
    background-color:  #4B8D5E;
    color: white;
    font-size: 30px;
    padding: 10px;
    font-family: 'Montserrat';
}
.container{
    margin: 0 50px;
}
.heading{
    width: 100%;
}

.row{
    font-size: large;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .bac_img{
    margin-right: 100px;
 } 

.images{
    display: flex;
 
    justify-content: space-around;

}  


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: flex;
      flex-direction: column;
    }.bac_img{
        margin-right: 0;
    }
    .images{
        display: flex;
        flex-direction: column;
    }

  }


.bac_text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
text-align:start;
color: #FFFFFF;
}
.bac{
    padding: 25px;
}

.bac_details{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
text-align:left;
color: #FFFF;
margin-bottom: 25px;
}
.background_1{
    text-align:center;
    background-color: #F7F6F2;
    font-size: 30px;
    color: #000000;
    font-family: 'Montserrat';
    margin-bottom: 75px;

}
.cust_review{
    background-color: #F7F6F2;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24pt;
    line-height: 29px;
    color: #000000;
    margin-bottom: 25px;
}


