.mainContent{
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F6F2;
    font-size: 64px;
    padding-top:10px;
}

#opening-header{
    font-size: 64px;
}

#opening-caption{
    font-size: 36px;
}

#opening-hashtag{
    font-size: 24px;
}

.content-area{
    margin: 0 100px;
    padding-bottom: 100px;
}

.content-area-middle{
    display: flex;
    background-color: #4B8D5E;
    color: white;
    font-size: 24px;
    padding:50px;
}

.content-area-middle-content{
    padding-left: 180px;
}

.caption{
    font-size: 50px;
    padding: 50px;
}

.flowchart{
    font-size: 20px;
}

/* .flowchart-left-text{
    float: left;
    font-size: 20px;
}

.flowchart-right-text{
    float: right;
    font-size: 20px;
} */

/* .shapes{
    margin:20px;
} */

.testimonials{
    padding: 20px;
    font-size: 50px;
}

.row{
    font-size: larger;
}

.column {
    float: left;
    width: 33.33%;
    padding-top:10px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.list-items{
    font-size: 24px;
}

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
    }
  }

  .services{
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F6F2;
    font-size: 64px;
    padding-top:100px;
    text-align: center;
    margin: 0 100px;
  }

  #left_point{
      transform: rotate(180deg);
  }