.mainContent{
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F6F2;
    font-size: 64px;
    padding-top:10px;
}

#opening-header{
    font-size: 64px;
}

#opening-caption{
    font-size: 36px;
}

#opening-hashtag{
    font-size: 24px;
}

.content-area{
    margin: 0 100px;
    padding-bottom: 100px;
}

.content-area-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#introduction-image{
    padding-left: 200px;
}

@media screen and (max-width: 700px) {              /*responsive code for the ecommerce gif */
    #introduction-image{
        height: 400px;
        margin: 0px;
        padding: 0px;
    }
}

.content-area-middle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #4B8D5E;
    color: white;
    font-size: 24px;
    padding:30px;
}

.content-area-middle-content{
    padding-top: 30px;
}

.content-area-middle-animation{
    padding-left: 100px;
}

@media screen and (max-width: 700px) {              /*responsive code for the shopping cart gif */
    .content-area-middle-animation{
        height: 400px;
        margin: 0px;
        padding: 0px;
    }
}

.testimonials{
    padding: 20px;
    font-size: 50px;
    text-align: center;
}

.row{
    font-size: larger;
}

.column {
    float: left;
    width: 33.33%;
    padding-top:10px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.list-items{
    font-size: 24px;
}

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
    }
  }

  .services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F6F2;
    font-size: 64px;
    padding:100px 0px;
    text-align: center;
  }

  #left_point{
      transform: rotate(180deg);
      padding: 0px 20px;
  }

    #right_point{
        padding: 0px 20px;
    }

  @media screen and (max-width: 650px){     /*responsive code for the services part */
    #left_point{
        transform: rotate(270deg);
        padding: 10px 0px;
    }
    #right_point{
        transform: rotate(90deg);
        padding: 20px 0px;
    }
    .services{
        flex-direction: column;
    }
    #shopping_lady{
        height: 200px;
    }
    #services_image{
        height: 200px;
    }
    #store{
        height: 250px;
    }
  }