.discountBannerContainer{
    font-family: 'Montserrat', sans-serif;
    margin: 0 100px;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .discountBannerContainer{
        margin: 0 30px;
    }
    #discountBanner{
        width: 100%;
        height: auto;
    }
}