.DescriptionContainer{
    margin: 0 80px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.ProductDescription{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.imageGallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageGalleryImageFrame{
    height: 100px;
    width: 80px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#imageGalleryImage{
    width:90%
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#product_big_image{
    margin: 50px 50px 0px;
}
.productDescriptionDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.productDescriptionDetailsHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productDescriptionDetailsHeading{
    font-size: 32px;
    font-weight: 500;
}

.productDescriptionDetailsSubHeading{
    font-size: 12px;
}

#wishlist{
    margin-left: 30px;
}

.productDescriptionDetailsHeaderDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.localStoresRecommendationsHeader{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.productDescriptionDetailsDesc{
    width: 80%;
}

#checkAvailability{
    margin-top: 10px;
}

.last_checked{
    text-align: center;
    font-size: 12px;
}

#productHeader, #localStoresRecommendationsHeading{
    font-weight: 600;
    font-size: 24px;
}

#categories{
    font-size: 12px;
}

.localStores{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0,0.4);
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    height: 400px;
}

.localStore{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.localStoreDetails{
    padding: 10px 20px 10px;
    font-size: 12px;
}

#localStoreImage{
    padding: 10px;
}

#localStoreHeader{
    font-size: 18px;
    font-weight: 500;
}

#localStoreDistance{
    font-size: 12px;
}

#localStoreAddress{
    font-size: 10px;
}

.localStoreFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.teamBuy{
    padding: 12px 15px;
    background-color: #e9e9e9;
    margin: 20px 0px 0px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#teamBuyBtn{
    background-color: #F6BA74;
    border-radius: 8px;
    padding: 8px 25px;
}

.TeamBuyProductDescControls{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#teamBuyPrice{
    font-size: 18px;
    margin: 2px;
}

#strikethrough{
    text-decoration: line-through;
    font-size: 14px;
    color: #969696;
    margin: 2px;
}

#teamBuyDiscount{
    color: red;
    font-size: 16px;
}

.teamBuyBtnContainer{
    position: relative;
    display: inline-block;
}

.teamBuyBtnOptions{
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

#teamBuyBtnOption{
    padding: 5px 12px;
    width: 100%;
}

#teamBuyBtnOption:hover{
    background-color: rgba(246, 186, 116,0.2);
}

.TeamBuyContainer{
    border:1px solid rgba(0, 0, 0,0.4);
    margin: 10px;
    margin-left: 0;
    width: 90%;
}

.TeamBuyContainerContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.TeamBuyControls{
    margin-right: 0;
}

.TeamBuyDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TeamBuyContainerHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#viewMoreBtn{
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
}

#TeamBuyContainerHeader{
    padding: 10px 10px 0 10px;
    font-weight: 600;
    font-size: 18px;
}

#TeamBuyContainerHeaderText{
    color: rgb(182, 0, 0);
    font-size: 12px;
    padding: 0 10px;
}

.TeamBuyDetailsInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#TeamBuyProfileImage{
    padding: 5px;
}

.teamJoin{
    background-color: #F6BA74;
    padding: 6px 9px;
    border-radius: 8px;
}

.TeamBuyControls{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#TeamBuyTime{
    font-size: 12px;
}

#hr{
    margin-left: 0;
    width: 100%;
}

.TeamBuyJoinDetails{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageGalleryMobile{
    display: none;
}

@media screen and (max-width:1000px){
    .localStores{
        height: 300px;
    }
    .DescriptionContainer{
        margin: 0 20px;
    }
    .DescriptionContainer{
        flex-wrap: wrap;
    }
    .imageGalleryImageFrame{
        height: 60px;
        width: 40px;
        margin: 20px 10px;
        border: 1px solid rgba(0, 0, 0,0.4);
    }
    #product_big_image{
        margin: 10px;
        height: 250px;
    }
    .productDescriptionDetailsDesc{
        word-wrap: break-word;
    }
    .product{
        flex-wrap: wrap;
    }
    .localStores{
        white-space: wrap;
        padding: 0px;
    }
    .productDescriptionDetails{
        align-items: center;
    }
    .product{
        justify-content: space-around;
        align-items: center;
    }
    .localStoresRecommendations{
        margin: auto;
        padding-bottom: 50px;
    }
    .localStoreDetails{
        padding: 5px 5px;
        font-size: 12px;
    }
    .TeamBuyContainer{
        width: 100%;
    }

    .imageGallery{
        display: none;
    }

    .imageGalleryMobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .teamBuy{
        width: 100%;
    }
}

.checkAvailContainer{
    text-align: center;
}