.mainHeader{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    vertical-align: center;
    overflow: hidden;
    background-color: #F7F6F2;
}


.logo{
    float:left;
    padding: 10px;
}

.logo_text{
    float:left;
    margin-top: 7px;
    padding: 5px;
    font-size: 25px;
    color: #4B8D5E; /* color */
}

.buttons{
    float:right;
    margin: 10px;
    font-size: 20px;
}

#Home , #About, #Hiring, #Contact{
    padding-top: 7px;
    margin: 0px 30px;

}

button, input[type="submit"], input[type="reset"] {
    font-family: 'Lato', sans-serif;
    color: #4B8D5E; /* color */
	background: none;
    font-size: larger;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.mobile-menu{
    display: none;
    float:right;
    padding: 10px;
}

@media screen and (max-width: 700px) {
    .buttons{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
}