.mainFooter{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    background-color: #4B8D5E;
    color: white;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.footerContainer{
  margin: 0 100px;
}

#footerHeading{
  font-size: 64px;
}

#sub-footerHeading{
  font-size: 36px;
  margin-left: 50px;
  margin-right: 50px;
}

.copyright{
    font-size:12px;
    padding: 10px 0;
}

#connectText{
    font-size: 36px;
}

.footerRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
    font-size: 16px;
    padding:20px 0;
}

.footerColumn, .footerColumnLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  }
  
.list-header{
  font-size:20px;
}  

.link-icon{
  padding-right: 5px;
}

  .list-items{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-weight: 400;
      text-align: start;
  }

  @media screen and (max-width: 768px) {
    .footerColumn {
      width: 100%;
    }
    #footerHeading{
      font-size: 40px;
    }
    
    #sub-footerHeading{
      font-size: 20px;
    }
    #connectText{
      font-size: 24px;
  }
  .footerContainer{
    margin: 0 20px;
  }
  .footerRow{
      font-size: 10px;
  }
  .copyright{
    font-size:12px;
    padding: 5px 0;
}
    .footerRow{
        padding:10px 0;
    }
    .footerColumn {
      margin:0 30px;
      }
    .footerColumn, .footerColumnLink {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 40%
      }
      .footerColumnLink {
        display: none;
      }
  }