.TopOffersContainer{
    font-family: 'Montserrat', sans-serif;
    margin: 0 100px;
    padding: 30px 0;
}

.TopOffersHeading{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#arrow{
    color: black;
    padding: 0 5px;
}

#top-offers-heading{
    font-size: 24px;
    font-weight: 600;
}

.offers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#discount{
    padding: 10px 0;
}

@media screen and (max-width: 768px) {              /*responsive code for the ecommerce gif and font sizes*/
    .TopOffersContainer{
        margin: 0 20px;
    }
    #discount{
        height: auto;
        width: 70%;
        padding: 10px 10px;
    }
    .offers{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
}