.ProfilePageHeaderMain{
    font-family: 'Montserrat', sans-serif;
    margin: 0 200px;
    width: 80%;
}

.ProfilePageHeaderMainTopContainer{
    background-color: #B6BFD0;
    min-height: 250px;
}

.ProfileDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 45px 0 0px;
}

.ProfileDistance{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#Location{
    padding: 5px;
    background-color: #e9e9e9;
    border-radius: 8%;
}

.ProfileDetailsMainExtra{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ProfileNumbers{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ProfileDetailsPostsCount{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ProfileDetailsFollowersCount{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#ProfileName{
    font-size: 32px;
    font-weight: 600;
    margin: 5px 0;
}

#ProfileRating{
    margin: 0 4px;
}

.ProfileDetailsPostsCountHeader, .ProfileDetailsFollowersCountHeader{
    font-size: 20px;
}

.ProfileDetailsPostsCountNumber, .ProfileDetailsFollowersCountNumber{
    font-size: 18px;
    font-weight: 600;
}

.ProfileControlButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#follow{
    background-color: #4B8D5E;
    border-radius: 10%;
    padding: 10px 15px;
    color: white;
}

#visitPage{
    margin-left: 20px;
    background-color: #e9e9e9;
    border-radius: 10%;
    padding: 10px 15px;
    color: black;
    font-weight: 600;
}

.ProfileExtraDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;   
    padding: 10px 25px 20px;
}

.ProfileExtraDetailsStories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
}

#profileStory{
    margin: 0 20px;
}

.profileStoryContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ProfileExtraDetailsControlsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ProfileAbout{
    width: 70%;
    margin-bottom: 10px;
}

.ProfileContacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ProfileAboutHeading{
    margin-top: 10px;
    font-weight: 600;
}

.ProfileAbout{
    font-size: 14px;
}

#messageBtn{
    background-color: #e9e9e9;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10%;
}

.ImageGrid{
    background-color: white;   
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ImageGridControlsBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 18px;
}

#rewardsImagesBtn{
    margin-left:30px;
}

#rewardsImagesBtn:focus, #postsImageBtn:focus{
    border-bottom: 3px solid black;
}

.ImageGridImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;   
    margin: 0px 0 10px;
}

#ProfileImage, #rewardImage{
    padding: 20px 40px 40px;
}

#ProfilePhoto{
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 80;
}

@media screen and (max-width: 920px){
    .ProfilePageHeaderMain{
        margin: 0 0;
    }
    #ProfileImage,#rewardImage{
        padding: 10px;
        height: 200px;
    }
    .ImageGridImages{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .ImageGridControlsBar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
        font-size: 18px;
    }
    .ProfileDetails{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 45px 0;
    }
    .ProfileDetailsMainExtra{
        justify-content: center;
        align-items: center;
    }
    .ProfileDetailsPostsCount{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .ProfileDetailsFollowersCount{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .ProfileNumbers{
        margin-top: 20px;
    }
    .ProfileControlButtons{
        margin-top: 20px;
    }
    #ProfilePhoto{
        position: absolute;
        left: 0; 
        right: 0; 
        top: 25%; 
        margin: auto;
        z-index: 10;
    }
    .ProfileExtraDetails{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .ProfileDistance{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .ProfileExtraDetailsControls{
        margin-top: 10px;
    }
    .ProfileAbout{
        width: 100%;
    }
    .ImageGrid{
        background-color: white;   
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

/* for the image/reward popup view */

.imagePopup{
    position: fixed;
    left: 20%;
    top:15%;
    z-index: 94;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
}

.imagePopupContent{
    margin: 20px;
}

.imagePopupContentHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.imagePopupContentCaption{
    font-size: 12px;
}

#profilePopupName{
    margin-left: 10px;
}

#profileImagePopupCrossButton{
    position: fixed;
    z-index: 94;
    right: 10%;
    top: 5%;
}

.imagePopupContentFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

#profileImagePopupLikesContainer, #profileImagePopupLikesContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.profileImagePopupAddComment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#profileImagePopupAddComment{
    border: none;
    margin: none;
    width: 100%;
    text-align: left;
    outline: none;
    padding: 10px;
}

#profileImagePopupShareComment{
    color: blue
}

#popupHR{
    width: 100%;
}


.profileImagePopupComments{
    height: 110px;
    overflow-y: scroll;
    padding: 10px;
}

.profileImagePopupComment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.profileImagePopupCommentUserinfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}

#profileImagePopupCommentDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5px;
}

#profileImagePopupCommentTime{
    font-size: 10px;
}

#profileImagePopupCommentContent{
    font-size: 10px;
}

#popupPostOverlay{
    position: fixed;
    right:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 103, 103,0.8);
    z-index: 93;
    display: block;
    transition: 0.4s;
}

.rewardImagePopup{
    position: fixed;
    left: 27%;
    top:20%;
    z-index: 94;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}

.rewardImagePopupContentMain{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.rewardImagePopupHeaderBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#leftArrowPopup{
    padding: 10px;
}

#rewardImagePopupHeaderBarText{
    font-size: 18px;
}

#rewardImagePopupContentMainName{
    font-weight: 600;
    font-size: 20px;
}

#rewardImagePopupContentMainAddr{
    font-size: 12px;
    margin-bottom: 20px;
}

#rewardImagePopupContentMainExpiryDateContainerMessage{
    font-weight: 600;
}
.rewardImagePopupContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#rewardImagePopupContentMainExpiry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    margin-bottom: 20px;
}

#rewardImagePopupContentMainExpiryDateContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rewardImagePopupContentMainBody{
    font-size: 10px;
    margin: 0 20px;
    font-weight: 600;
}

#giftReward{
    padding: 10px 30px;
    background-color: #e0e0e0;
    border-radius: 18px;
    color: black;
    margin-top: 20px;
    border: 1px solid;
}

#giftOffer{
    padding: 10px 50px;
    background-color: #27c353;
    border-radius: 18px;
    color: white;
    margin-top: 20px;
}

/*for new post popup */

.newPostContainer{
    position: fixed;
    left: 30%;
    top:15%;
    z-index: 94;
    background-color: white;
    display: block;
    width: 40%;
}

#popupNewPostOverlay{
    position: fixed;
    right:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 103, 103,0.8);
    z-index: 93;
    display: block;
    transition: 0.4s;
}

.newPostContainerMain{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
}

#newPostContainerHeader{
    font-weight: 600;
    margin-top: 10px;
}

#selectFromComputer{
    padding: 10px 40px;
    border-radius: 18px;
    background-color: #27c353;
    color: white;
    margin-top: 20px;
}

.createPostContainer{
    position: fixed;
    left: 27%;
    top:15%;
    z-index: 94;
    background-color: white;
    display: none;
    width: 50%;
}

#popupcreatePostOverlay{
    position: fixed;
    right:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 103, 103,0.8);
    z-index: 93;
    display: block;
    transition: 0.4s;
}

.createPostContainerMain{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.createPostContainerHeader{
    font-weight: 600;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#selectFromComputer{
    padding: 10px 40px;
    border-radius: 18px;
    background-color: #27c353;
    color: white;
    margin-top: 20px;
}

#PopupCrossButton{
    position: fixed;
    z-index: 94;
    right: 10%;
    top: 5%;
    display: block;
}

#createPostLeftArrow{
    margin: 0 10px;
}

#postBtnCreatePost{
    color: rgb(62, 62, 255);
    margin: 0 10px;
}

.createPostContainerMainContent{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.createPostContainerMainContentDetails{
    margin-left: 15px;
}

.createPostContainerMainContentUserDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#createPostCaption{
    border: none;
    margin: none;
    outline: none;
    resize: none;
    height: 200px;
    margin-top: 10px;
    width: auto;
}

.createHighlightContainer{
    position: fixed;
    left: 27%;
    top:15%;
    z-index: 95;
    background-color: white;
    display: block;
    width: 45%;
    height: 450px;
    overflow-y: scroll;
}

.createHighLightHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

#createHighLightHeaderText{
    text-align: center;
    font-weight: 600;
}

.hightlightGrid{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 12px;
}

#highlightImg{
    padding: 5px;
}

#hightlightFrame{
    position: relative;
}

#hightlightDate{
    position: absolute;
    top: 5%;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 18px;
    padding: 2px;
    left: 5%;
}

#selectHightlightOption{
    position: absolute;
    bottom: 5%;
    right: 5%;
}