.ProfilePageHeaderMain{
    font-family: 'Montserrat', sans-serif;
    margin: 0 200px;
    width: 80%;
}

.ProfilePageHeaderMainTopContainer{
    background-color: #B6BFD0;
    min-height: 250px;
}

.ProfileDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 45px 0 0px;
}

.ProfileDistance{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#Location{
    padding: 5px;
    background-color: #e9e9e9;
    border-radius: 8%;
}

.ProfileDetailsMainExtra{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ProfileNumbers{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ProfileDetailsPostsCount{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ProfileDetailsFollowersCount{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#ProfileName{
    font-size: 32px;
    font-weight: 600;
    margin: 5px 0;
}

#ProfileRating{
    margin: 0 4px;
}

.ProfileDetailsPostsCountHeader, .ProfileDetailsFollowersCountHeader{
    font-size: 20px;
}

.ProfileDetailsPostsCountNumber, .ProfileDetailsFollowersCountNumber{
    font-size: 18px;
    font-weight: 600;
}

.ProfileControlButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#follow{
    background-color: #4B8D5E;
    border-radius: 10%;
    padding: 10px 15px;
    color: white;
}

#visitPage{
    margin-left: 20px;
    background-color: #e9e9e9;
    border-radius: 10%;
    padding: 10px 15px;
    color: black;
    font-weight: 600;
}

.ProfileExtraDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;   
    padding: 10px 25px 20px;
}

.ProfileExtraDetailsControlsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ProfileAbout{
    width: 70%;
}

.ProfileContacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ProfileAboutHeading{
    margin-top: 10px;
    font-weight: 600;
}

.ProfileAbout{
    font-size: 14px;
}

#messageBtn{
    background-color: #e9e9e9;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10%;
}

.ImageGrid{
    background-color: white;   
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ImageGridControlsBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 18px;
}

#rewardsImagesBtn{
    margin-left:30px;
}

#rewardsImagesBtn:focus, #postsImageBtn:focus{
    border-bottom: 3px solid black;
}

.ImageGridImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;   
    margin: 0px 0 10px;
}

#ProfileImage, #rewardImage{
    padding: 20px 40px 40px;
}

#ProfilePhoto{
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 80;
}

@media screen and (max-width: 920px){
    .ProfilePageHeaderMain{
        margin: 0 0;
    }
    #ProfileImage,#rewardImage{
        padding: 10px;
        height: 200px;
    }
    .ImageGridImages{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .ImageGridControlsBar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
        font-size: 18px;
    }
    .ProfileDetails{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 45px 0;
    }
    .ProfileDetailsMainExtra{
        justify-content: center;
        align-items: center;
    }
    .ProfileDetailsPostsCount{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .ProfileDetailsFollowersCount{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .ProfileNumbers{
        margin-top: 20px;
    }
    .ProfileControlButtons{
        margin-top: 20px;
    }
    #ProfilePhoto{
        position: absolute;
        left: 0; 
        right: 0; 
        top: 25%; 
        margin: auto;
        z-index: 10;
    }
    .ProfileExtraDetails{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .ProfileDistance{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .ProfileExtraDetailsControls{
        margin-top: 10px;
    }
    .ProfileAbout{
        width: 100%;
    }
    .ImageGrid{
        background-color: white;   
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}