.storiesContainer{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 100px;
    padding: 10px 0px;
}

.stories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.storiesContainer img{
    border-radius: 50%;
}

#moreStories{
    display: none;
}

#storiesHeading{
    font-size: 24px;
    font-weight: 600;
}

#story{
    width:8%;
    padding: 0 20px;
}

@media screen and (max-width: 768px){
    #story{
        width:20%;
        padding: 0 10px;
        height: 70px;
    }
    .storiesContainer{
        margin: 0 20px;
        padding: 10px 0;
    }
    #moreStories{
        padding: 0 15px;
        display: block;
    }
    .stories{
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
}


/* story popup styles */


.storyPopupHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #dcdcdc;
}
.storyPopup{
    position: fixed;
    top: 5%;
    left: 38%;
    z-index: 99;
}

#storyImagePopup{
    border-radius: 0%;
}

.storyPopupHeaderDetails, .storyPopupHeaderControls{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

#storyPopupCross{
    margin-left: 10px;
}

.storyPopupHeaderProfileDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

#storyPopupHeaderStoreName{
    font-size: 16px;
    font-family: 600;
}

#storyPopupHeaderTimestamp{
    font-size: 12px;
}

.storyPopupOverlay{
    position: fixed;
    right:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 103, 103,0.8);
    z-index: 98;
    display: block;
    transition: 0.4s;
}

@media screen and (max-width: 920px){
    .storyPopup{
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        z-index: 99;
        width: 100%;
        height: 100%;
    }
    #storyImagePopup{
        width: 100%;
        height: 100%;
    }
}

/* navigation for story */
.navigationLeftStory{
    position: fixed;
    top: 45%;
    left: 25%;
}

.navigationRightStory{
    position: fixed;
    top: 45%;
    left: 75%;
}

#arrowRoundLeft{
    position: relative;
}

#leftArrowStory{
    position: absolute;
    top: 30%;
    left: 35%;
}

#arrowRoundRight{
    position: relative;
}

#rightArrowStory{
    position: absolute;
    top: 30%;
    left: 40%;
}

@media screen and (max-width: 920px){
    .navigationLeftStory{
        left: 2%;
    }
    .navigationRightStory{
        left: 83%;
        right: 2%;
    }
    #arrowRoundLeft, #arrowRoundRight{
        height: 60px;
        opacity: 80%;
    }
    
    #leftArrowStory, #rightArrowStory{
        height: 20px;
        opacity: 100%;
    }
}